<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>Choose</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    </head>
    <body>
        <h1>TABLES IN DB</h1>
            <h3><a href="/hosps">HOSPITAL</a></h3>
            <h3><a href="/docs">DOCTORS</a></h3>
            <h3><a href="patients">PATIENTS</a></h3>
            <h3><a href="rooms" >ROOMS</a></h3>
            <hr/>
    </body>
</html>